<section>
  <h2 class="text-center mt-2 mb-4">Create New Post</h2>
  <div class="col-8 offset-2">
    <form class="new-post-form">
      <div class="mb-3 text-center">
        <label class="form-label" for="post-title">Title</label>
        <input class="form-control" type="text" id="post-title" name="post-title" />
      </div>
      <div class="mb-3 text-center">
        <label class="form-label" for="post-url">Link</label>
        <input class="form-control" id="post-url" name="post-url" />
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-outline-success">Create</button>
      </div>
    </form>
    </div>
</section>


{{#if posts.length}}
<section class="pb-5">
  <h2 class="text-center mt-4">Yours Posts</h2>
  <ol class="post-list">
    {{#each posts as |post|}}
    <li class="mb-3 pb-3">
      {{> post-info post}}
      <a class="btn btn-warning" href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section class="mb-3 pb-3">
{{/if}}

{{#if loggedIn}}
<script src="/js/add-post.js"></script>
{{/if}}