<div class="container pt-2">
  {{> post-info post}}

{{#if loggedIn}}
<form class="comment-form border-top border-bottom border-secondary pt-1 pb-2 mb-3">
  <div class="mb-1 p-1">
    <textarea class="form-control" name="comment-body" placeholder="Leave a comment"></textarea>
  </div>

  <div class="d-flex justify-content-evenly ">
    <button class="btn btn-success" type="submit">add comment</button>
    <button class="btn btn-info upvote-btn" type="button">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
<script src="/js/upvote.js"></script>
{{/if}}
</div>