body{
    background-color: rgb(233, 233, 233);
}

.home-bg{
    background-image: url("https://media.istockphoto.com/photos/doing-what-matters-makes-things-happen-picture-id1303846205?b=1&k=20&m=1303846205&s=170667a&w=0&h=gOz0KG2fatj9Htyjnj0dyWa8MjAi2LH_fnW7CuBjJVU=");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 40%;
    height: 45%;
}

#comments-route{
    text-decoration: none;
}

.post-list{
    text-decoration: none;
    list-style-type: none;
    padding: 0 2rem 0 2rem;
    margin: 1rem;
}

#comment-card{
    box-shadow: 5px 4px 4px rgb(167, 167, 167);
}

input{
    box-shadow: 2px 4px 4px rgb(218, 218, 218);
}

textarea{
    box-shadow: 10px 5px 5px rgb(167, 167, 167);
}


@media only screen and (max-width: 575px) {
    *{
        line-height: .5;
    }
  }